<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="articles">
    <%= render partial: 'article', collection: @articles %>
  </tbody>
</table>

<br>

<%= turbo_frame_tag 'new_article', src: new_article_path, target: '_top' %>
