<div id="<%= dom_id page %>">
  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= page.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= page.color %>
  </p>

</div>
