<div class="flex h-screen">
  <div class="basis-6/12 border-r-2">
    <div class="my-5 p-3">
      <%= link_to '一覧へ戻る',
                  pages_url,
                  class: 'underline hover:no-underline decoration-1 text-xs text-slate-600 tracking-wider hover:shadow-2xl' %>
      <div class="mt-5">
        <%= render "form", page: @page %>
      </div>
    </div>
  </div>
  <div class="basis-6/12">
    <iframe src="<%= page_previews_path %>"
            class="h-full w-full"
    ></iframe>
  </div>
</div>
