<div class="w-full max-w-2xl mx-auto p-5">
  <div class="flex justify-between items-center">
    <%= link_to '← 一覧へ戻る',
                pages_path,
                class: 'underline hover:no-underline decoration-1 text-xs text-slate-600 tracking-wider hover:shadow-2xl' %>
    <%= link_to 'Edit',
                edit_page_path(@page),
                class: 'bg-indigo-500 px-5 py-2 text-xs shadow-xs font-medium tracking-wider  text-indigo-100 rounded-full hover:shadow-2xl hover:bg-indigo-600' %>
  </div>
  <%= render 'show_page', page: @page %>
</div>
