<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
  <li class="mr-2">
    <%= link_to 'Tab 1',
                tabs_path(id: 1),
                data: { turbo_action: 'advance' },
                class: current_page?(tabs_path(id: 1)) ? 'inline-block p-4 rounded-t-lg text-blue-600 bg-gray-100 active dark:bg-gray-800 dark:text-blue-500'
                         : 'inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'%>
  </li>
  <li class="mr-2">
    <%= link_to 'Tab 2',
                tabs_path(id: 2),
                data: { turbo_action: 'advance' },
                class: current_page?(tabs_path(id: 2)) ? 'inline-block p-4 rounded-t-lg text-blue-600 bg-gray-100 active dark:bg-gray-800 dark:text-blue-500'
                         : 'inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'%>
  </li>
</ul>
