<div class="w-full max-w-2xl mx-auto my-5 bg-white">
  <%= turbo_frame_tag 'tabs' do %>
    <%= render 'menu' %>

    <h1 class="mt-5 p-4 text-2xl font-semibold">Tab 2</h1>
    <div class="p-4">
      <p class="mt-5"><img src="https://picsum.photos/id/2/800/300" class="rounded" width="800" height="300"></p>
      <p class="mt-5">コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。</p>
      <p class="mt-5">コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。</p>
      <p class="mt-5">コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。</p>
      <p class="mt-5">コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。</p>
      <p class="mt-5">コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。コンテンツ。</p>
    </div>
  <% end %>
</div>
